*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.banner{
    display: flex;
}

.banner img{
    width: 100%;
    height: 50vw;
    max-height: 700px;
}

.conteiner-conteudo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.text{
    flex: 1;
    padding-right: 40px;
}

.subtitulo{
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2{
    font-size: 28px;
    margin: 10px 0;
}

p{
    font-size: 16px;
    line-height: 1.6;
}

.imagem-r3{
    flex: 1;
    text-align: right;
}

.imagem-r3 img{
    height: auto;
    width: 100%;
}

.container-partes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px
}

.container-partes .imagem-r3-lado{
    flex: 1;
}
.container-partes .imagem-r3-lado img{
    width: 100%;
    height: auto;
}

.texto{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.texto-titulo{
    display: flex;
    width: 40%;
    flex-direction: column;
}

.container-partes p{
    font-size: 15px;
    line-height: 1.6;
    width: 30%;
}

strong{
    color: #333030;
}

.container-design{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container-design img{
    width: 33.07%;
    margin: 40px 0.3px;
}

.container-design p{
    font-size: 15px;
    line-height: 1.6;
    width: 30%;
}

.aplicativo-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.aplicativo-image img{
    width: 500px;
    height: auto;
}

.alternative-text{
    max-width: 50%;
}

.alternative-text p{
    flex: 1;
    font-size: 14px;
    line-height: 1.6;
}

.top-bar {
      background-color: #2f3742;
      height: 20px;
    }

    .header {
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    }

    .logo {
      display: flex;
      align-items: center;
    }

    .logo img {
      height: 60px;
      margin-right: 40px;
    }

    .menu {
      display: flex;
      gap: 25px;
    }

    .menu a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px;
    }

    .right-icons {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .right-icons i {
      font-size: 18px;
      cursor: pointer;
    }

    .login {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 14px;
      text-transform: uppercase;
      color: #333;
      font-weight: bold;
    }

    .right-icons .icon {
      font-size: 18px;
    }

     body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    footer {
      background-color: #121212;
      padding: 40px 20px;
      display: flex;
      justify-content: center;
    }

    .social-icons {
      display: flex;
      gap: 500px;
    }

    .social-icons a {
      color: #fff;
      font-size: 20px;
      text-decoration: none;
      display: flex;
      justify-content: space-around;
      width: 10px;
      height: 35px;
     }



